<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>404</h1>
<p>We're sorry, but we can't find what you're looking for.</p>
<%- include('./parts/tail') %>
