<%- include('./parts/head') %>
<% if(msg.length > 0) {%>
    <p class="error">
        <%= msg %>
    </p>
<%}%>
<form action="/post" METHOD="post">
    <input type="text" id="title" placeholder="title" name="title" required><br>
    <textarea id="body" placeholder="Enter your blogpost here." name="body"></textarea><br>
    <input type="submit" value="Submit Post">
</form>
<%- include('./parts/tail') %>
